<section class="bg-dark-v">
  <div class="container px-5 py-3">
      <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">A propos</span></h1>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-11 col-xl-9 col-xxl-8">
              <section>
                  <div class="row align-items-center gx-5 px-5 py-2">
                       <h2 class="text-primary fw-bolder">{{ "ABOUT-PRO" |translate}}</h2> 
                       <a class="btn btn-primary " href="assets/CV_Vincent_Grande.pdf" download>
                          <div class="d-inline-block bi bi-download"></div>
                          Télécharger mon CV<i class="bi bi-file-earmark-pdf"></i>
                      </a>
                  </div>
                  <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <app-experience-card
                            *ngFor="let experience of experiences"
                            [experience]="experience"
                            [type]="'experience'"
                        ></app-experience-card>
                        </div>
                      
                    </div>
                  </div>
              </section> 
               <section>
                  <h2 class="text-secondary fw-bolder mb-4">{{ "ABOUT-EDU" |translate}}</h2>
                  <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <app-experience-card
                            *ngFor="let education of educations"
                            [experience]="education"
                            [type]="'education'" 
                        ></app-experience-card>
                        </div>
                      
                    </div>
                  </div>
              </section> 
            <app-skills [skills]="skills"></app-skills> 
          </div>
      </div>
  </div>
</section>   