<div class="card shadow border-0 rounded-4 mb-5">
  <div class="card-body">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-dark-v p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">{{ date }}</div>
          <div class="small fw-bolder dark-white-v">{{ title }}</div>
          <div class="small dark-white-v">{{ company }}</div>
          <div class="small dark-white-v">{{ location }}</div>
        </div>
      </div>
    </div>
  </div>
</div>