<section>
  <div class="card shadow border-0 rounded-4 mb-5">
    <div class="card-body p-5">
      <div class="mb-0">
        <div class="d-flex align-items-center mb-4">
          <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
          <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">{{ "ABOUT-COMP" | translate }}</span></h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-4">
          <ng-container *ngFor="let skill of skills; let i = index">
            <div class="col mb-4 mb-md-0" *ngIf="i < 3">
              <div class="d-flex align-items-center rounded-4 p-3 h-100 bg-dark-v dark-white-v">{{ skill }}</div>
            </div>
          </ng-container>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-4">
          <ng-container *ngFor="let skill of skills; let i = index">
            <div class="col mb-4 mb-md-0" *ngIf="i >= 3 && i < 6">
              <div class="d-flex align-items-center rounded-4 p-3 h-100 bg-dark-v dark-white-v">{{ skill }}</div>
            </div>
          </ng-container>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-4">
          <ng-container *ngFor="let skill of skills; let i = index">
            <div class="col mb-4 mb-md-0" *ngIf="i >= 6 && i < 9">
              <div class="d-flex align-items-center rounded-4 p-3 h-100 bg-dark-v dark-white-v">{{ skill }}</div>
            </div>
          </ng-container>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
          <ng-container *ngFor="let skill of skills; let i = index">
            <div class="col mb-4 mb-md-0" *ngIf="i >= 9">
              <div class="d-flex align-items-center rounded-4 p-3 h-100 bg-dark-v dark-white-v">{{ skill }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>